@model User;
@{
    ViewData["Title"] = "Cập nhật thông tin cá nhân";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-lg-12">
    <div class="card">
        <div class="card-header">
            
            <h3 class="h4 mb-0">Cập nhật thông tin cá nhân</h3>
            <div class="card-close">
                <p class="mb-0 text-danger">* là thông tin bắt buộc</p>
            </div>
        </div>
        <div class="card-body">
            <form class="form-horizontal" asp-action="Edit" asp-controller="Profile" method="POST">
                <div class="row" hidden>
                    <label class="col-sm-2 form-label">UserId<small class="text-danger"> *</small></label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control mb-3" asp-for="UserId" required readonly />
                        <span asp-validation-for="UserId" class="text-danger"></span>
                    </div>
                </div>
                <div class="row" hidden>
                    <label class="col-sm-2 form-label">Password<small class="text-danger"> *</small></label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control mb-3" asp-for="Password" required readonly />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <label class="col-sm-2 form-label">Username<small class="text-danger"> *</small></label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control mb-3" asp-for="Username" required readonly />
                        <span asp-validation-for="Username" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <label class="col-sm-2 form-label">Họ tên<small class="text-danger"> *</small></label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control mb-3" asp-for="Fullname" required />
                        <span asp-validation-for="Fullname" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <label class="col-sm-2 form-label">Email<small class="text-danger"> *</small></label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control mb-3" asp-for="Email" required />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <label class="col-sm-2 form-label">Số điện thoại<small class="text-danger"> *</small></label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control mb-3" asp-for="Phone" required />
                        <span asp-validation-for="Phone" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <label class="col-sm-2 form-label">Địa chỉ<small class="text-danger"> *</small></label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control mb-3" asp-for="Address" required />
                        <span asp-validation-for="Address" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <label class="col-sm-2 form-label">Ngày sinh<small class="text-danger"> *</small></label>
                    <div class="col-sm-10">
                        <input type="date" class="form-control mb-3" asp-for="DOB" required />
                        <span asp-validation-for="DOB" class="text-danger"></span>
                    </div>
                </div>
                <div class="row" hidden>
                    <label class="col-sm-2 form-label">Mật khẩu</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control mb-3" asp-for="Password" readonly />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                </div>
                <div class="row" hidden>
                    <label class="col-sm-2 form-label">Ảnh đại diện</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control mb-3" asp-for="AvatarPath" readonly />
                        <span asp-validation-for="AvatarPath" class="text-danger"></span>
                    </div>
                </div>
                <div class="row" hidden>
                    <label class="col-sm-2 form-label">IsAdmin</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control mb-3" asp-for="IsAdministrator" readonly />
                        <span asp-validation-for="IsAdministrator" class="text-danger"></span>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-10 ms-auto">
                        <button class="btn btn-warning" type="submit">Lưu thay đổi</button>
                    </div>
                </div>
            </form>
            <a asp-action="Index" asp-controller="Profile"><button class="btn btn-primary" type="reset">Trở về</button></a>
        </div>
    </div>
</div>

