
@{
    ViewData["Title"] = "Kết quả thanh toán bằng Ví Momo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Breadcrumb Begin -->
<div class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__links">
                    <a asp-action="Index" asp-controller="Home"><i class="fa fa-home"></i> Trang chủ</a>
                    <span>@ViewData["Title"]</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb End -->
<div class="container-xxl container-p-y">
    <div class="misc-wrapper text-center">
        <h2 class="mt-3 mb-4 mt-2 mx-2">@ViewData["Title"]</h2>
        <h6 class="mb-4 mx-2">@ViewBag.Message</h6>
        <div class="mt-3">
            <img src="~/paysuccess.png"
                 alt="Error"
                 width="400"
                 class="img-fluid" />
        </div>
        <p>Xem lại các thông tin đơn hàng của bạn <a asp-action="Index" asp-controller="OrderHistory">tại đây</a></p>
        <a asp-controller="Home" asp-action="Index" class="btn btn-primary">Quay về trang chủ</a>
    </div>
</div>

