@model Slide;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Slide trang chủ";
    ViewData["Action"] = "Thêm mới";
}

<div class="col-lg-12">
    <div class="card">
        <div class="card-header">
            <h3 class="h4 mb-0">Thêm mới slide</h3>
            <div class="card-close">
                <p class="mb-0 text-danger">* là thông tin bắt buộc</p>
            </div>
        </div>
        <div class="card-body">
            <form class="form-horizontal" enctype="multipart/form-data" asp-action="Create" asp-controller="Slide" method="POST">
                <div class="row">
                    <label class="col-sm-2 form-label">Upload slide<small class="text-danger"> *</small></label>
                    <div class="col-sm-10">
                        <input type="file" name="img" class="form-control" accept="image/png, image/jpg, image/jpeg" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-10 ms-auto">
                        <button class="btn btn-primary" type="submit">Thêm mới</button>
                    </div>
                </div>
            </form>
            <a asp-action="Index" asp-controller="Slide"><button class="btn btn-primary" type="reset">Trở về</button></a>
        </div>
    </div>
</div>

