@model User;
@{
    string? token = Context.Session.GetString("clientToken");
    if (token == null)
    {
        Context.Response.Redirect("/Auth/Login");
    }
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__links">
                    <a asp-action="Index" asp-controller="Home"><i class="fa fa-home"></i> Trang chủ</a>
                    <a asp-action="Index" asp-controller="Profile"> Thông tin của tôi</a>
                    <span> Đổi ảnh đại diện </span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
     data-sidebar-position="fixed" data-header-position="fixed">
    <div class="position-relative overflow-hidden radial-gradient min-vh-100 d-flex align-items-center justify-content-center">
        <div class="d-flex align-items-center justify-content-center w-100">
            <div class="row justify-content-center w-100">
                <div class="col-md-8 col-lg-6 col-xxl-3">
                    <div class="card mb-0">
                        <div class="card-body">
                            <div class="logo text-center mt-3 mb-3">
                                <h4 class="font-weight-bold">ĐỔI ẢNH ĐẠI DIỆN</h4>
                            </div>
                            <form method="POST" asp-action="ChangeAvatar" enctype="multipart/form-data" asp-controller="Profile">
                                <div class="row mb-4">
                                    <div class="col-sm-12 text-center">
                                        <img src="@("/uploads/avatar/" + @Model.AvatarPath)" alt="Chưa có ảnh đại diện" class="rounded-circle" width="300" height="300" />
                                    </div>
                                </div>
                                <br />
                                <div class="row mb-4">
                                    <div class="col-sm-12">
                                        <input type="text" asp-for="AvatarPath" class="form-control" hidden />
                                        <input type="file" name="avatar" accept="image/png, image/jpg, image/jpeg" />
                                    </div>
                                </div>
                                <input type="submit" class="btn btn-primary w-100 py-8 fs-4 mb-4 rounded-2" value="Lưu thay đổi" />
                            </form>
                            <div class="text-center ">
                                <h6 class="font-weight-bold mb-3"><a asp-action="Index" asp-controller="Profile">Thông tin của tôi</a></h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

