@model ChangePasswordViewModel;
@{
    string? token = Context.Session.GetString("clientToken");
    if (token == null)
    {
        Context.Response.Redirect("/Auth/Login");
    }
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__links">
                    <a asp-action="Index" asp-controller="Home"><i class="fa fa-home"></i> Trang chủ</a>
                    <a asp-action="Index" asp-controller="Profile"> Thông tin của tôi</a>
                    <span> Đổi mật khẩu </span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
     data-sidebar-position="fixed" data-header-position="fixed">
    <div class="position-relative overflow-hidden radial-gradient min-vh-100 d-flex align-items-center justify-content-center">
        <div class="d-flex align-items-center justify-content-center w-100">
            <div class="row justify-content-center w-100">
                <div class="col-md-8 col-lg-6 col-xxl-3">
                    <div class="card mb-0">
                        <div class="card-body">
                            <div class="logo text-center mt-3 mb-3">
                                <h4 class="font-weight-bold">ĐỔI MẬT KHẨU</h4>
                            </div>
                            <form method="POST" asp-action="ChangePassword" asp-controller="Profile">
                                <div class="mb-4" hidden>
                                    <input type="text" value="@ViewBag.Username" asp-for="Username" class="form-control" autocomplete="off" required />
                                </div>
                                <div class="mb-3">
                                    <label for="oldpassword" class="form-label text-uppercase font-weight-bold">Mật khẩu cũ</label>
                                    <input type="password" asp-for="OldPassword" class="form-control" autocomplete="off" required id="oldpassword" />
                                    <span asp-validation-for="OldPassword" class="text-danger"></span>
                                </div>
                                <div class="mb-4">
                                    <label for="newpassword" class="form-label text-uppercase font-weight-bold">Mật khẩu mới</label>
                                    <input type="password" asp-for="NewPassword" class="form-control" autocomplete="off" required id="newpassword" />
                                    <span asp-validation-for="NewPassword" class="text-danger"></span>
                                </div>
                                <div class="mb-3">
                                    <label for="confirmpassword" class="form-label text-uppercase font-weight-bold">Nhập lại mật khẩu mới</label>
                                    <input type="password" asp-for="ConfirmPassword" class="form-control" autocomplete="off" required id="confirmpassword" />
                                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                </div>
                                <input type="submit" class="btn btn-primary w-100 py-8 fs-4 mb-4 rounded-2" value="Lưu thay đổi" />
                            </form>
                            <div class="text-center ">
                                <h6 class="font-weight-bold mb-3"><a asp-action="Index" asp-controller="Profile">Thông tin của tôi</a></h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

